/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-font-family: "IBM Plex Mono", sans-serif;
  --main-text-color: #F1B2CE;
  --logo-color: #DB00FF;
  --accent-color: #FF0070;
  --title-decor: #FF0070;
  --button-color: #FF0070;
  --description-color: #000028;
  --section-title-color: #FF0070;
  --article-title-color: #000028;
  --subtitle-color: #000028;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --active-border: 1px solid #FF0070;
  --active-color: #FF0070;
  --hover-border: rgba(255, 0, 112, 0.40);
  --hover-color: #FF0070;
  --focus-border-color: #FF0070;
  --focus-text-color: #FF0070;
  --section-padding: 20px;
  --decorated-zone-color: #FF0070; 
}

.page.theme_dark .decorated_rec_icon {
  display: inline-flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font-family: "IBM Plex Mono", sans-serif;
  --main-text-color: #F1B2CE;
  --logo-color: #DB00FF;
  --accent-color: #FF0070;
  --title-decor: #FF0070;
  --button-color: #FF0070;
  --description-color: #000028;
  --subtitle-color: #000028;
  --section-title-color: #FF0070;
  --article-title-color: #000028;
  --subtitle-color: #000028;
  --background-color: #000028;
  --background-image: url(/images/cover-image-dark.png);
  --active-border: 1px solid #FF0070;
  --active-color: #FF0070;
  --hover-border: rgba(255, 0, 112, 0.40);
  --hover-color: #FF0070;
  --focus-border-color: #FF0070;
  --focus-text-color: #FF0070;
  --section-padding: 20px;
  --decorated-zone-color: #FF0070; 
  }
 
  .decorated_rec_icon {
    display: inline-flex;
  }
}
