/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 668px;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas:
    ". menu"
    "title title"
    "description description";
}

@media (width >= 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      ". menu"
      "title title"
      ". description";
      margin-block-end: 40px;
  }
}

@media (width >= 1024px) {
  .header {
    padding: 20px;
    grid-template-areas:
      "menu menu"
      "title title"
      ". description";
  }
}

.section {
  padding: 10px;
}

@media (width >= 768px) {
  .section {
    padding: 20px;
  }
}

.decorated_rec_icon {
  position: absolute;
  display: inline-flex;
  top: 10px;
  right: 19px;
  gap: 10px;
  align-items: center;
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 18px;
  font-family: var(--main-font-family), monospace;
}

.decorated_rec_icon::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decorated-zone-color);
  box-shadow: 0 0 4px 2px var(--decorated-zone-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
}

@media (width >= 768px) {
  .decorated_rec_icon {
    top: 20px;
    right: 29px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

.header__theme-menu {
  grid-area: menu;
  display: flex;
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 13px;
  justify-content: space-evenly;
  align-items: center;
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
    margin-block-start: 0px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
  }
}

.header__theme-menu-button {
  color: var(--button-color);
  font-family: var(--main-font-family), monospace;
  text-transform: lowercase;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  border: none;
  padding: 3px 13px;
  outline: 1px solid transparent;
  background-color: transparent;
}

.header__theme-menu-item:hover {
  border: 1px solid var(--hover-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--focus-border-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--active-color);
  pointer-events: none;
}

.title {
  grid-area: title;
  color: var(--logo-color);
  text-shadow: 4px 4px 0 var(--title-decor);
  font-family: var(--main-font-family), monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  justify-self: flex-start;
  line-height: 82.5%;
}

.title-decor {
  background-color: var(--title-decor);
}

@media (width >= 1024px) {
  .title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 4px 4px 0 var(--accent-color);
  }
}

@media (min-width: 768px) {
  .title {
    margin-left: -20px;
  }
}

.description {
  grid-area: description;
  align-self: center;
  color: var(--description-color);
  font-family: var(--main-font-family), monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.section_why,
.section_reasons,
.section_advice,
.gallery {
  display: grid;
  margin-block-end: 30px;
}

section:first-child {
  margin-block-start: 30px;
}

.article_advice,
.article_reasons,
.article_why {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article_content_reasons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.article_why:last-child,
.article_reasons:last-child,
.article_advice:last-child {
  margin-block-end: 0;
}

@media (width >= 768px) {
  .section_why {
    grid-template-columns: fit-content(236px) minmax(min-content, max-content);
    grid-template-rows: 1fr;
    gap: 20px;
    margin-block-end: 0px;
  }

  .section_reasons {
    grid-template-rows: fit-content minmax(min-content, max-content);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "second-title . ."
      "second_article second_article second_article";
  }

  .section_title_reasons {
    grid-area: second-title;
    width: 236px;
  }

  .article_reasons {
    grid-area: second_article;
  }

  .article_content_reasons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .section_advice {
    display: grid;
    grid-template-columns: fit-content(236px) minmax(min-content, max-content);
    gap: 20px;
  }

  .section_why,
  .section_reasons,
  .section_advice {
    margin-block-end: 40px;
  }

  .gallery {
    margin-block-end: 40px;
  }
}

@media (width >= 1024px) {
  .section_why {
    grid-template-columns: fit-content(314.96px) minmax(min-content, max-content);
  }

  .section_reasons {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
  }

  .article_reasons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    grid-row-start: 2;
    flex-wrap: wrap;
    gap: 10px;
  }

  .article_content_reasons {
    width: 32%;
  }

  .section_title_reasons {
    grid-row: 1 / 2;
    width: 315px;
    grid-column: auto;
  }

  .section_advice {
    grid-template-columns: fit-content(315px) minmax(min-content, max-content);
  }
}

.article_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article_text {
  color: var(--main-text-color);
  font-family: var(--main-font-family), monospace;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.article_subtitle {
  color: var(--subtitle-color);
  font-family: var(--main-font-family), monospace;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.article_title {
  color: var(--article-title-color);
  font-family: var(--main-font-family), monospace;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.section_title {
  margin-bottom: 20px;
  color: var(--section-title-color);
  font-family: var(--main-font-family), monospace;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.section_title_fourth {
  margin-bottom: 0;
  color: var(--article-title-color);
}

.gallery {
  display: grid;
  gap: 10px;
  grid-template-rows: auto;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 20px;
  }

  .section_title_fourth {
    grid-column: span 3;
    align-self: start;
  }

  img:first-of-type {
    grid-column: span 2;
  }

  img:nth-of-type(2) {
    grid-row: span 2;
  }

  img:nth-of-type(3) {
    grid-row: span 2;
  }

  img:nth-of-type(5) {
    grid-column: span 2;
  }

  .images {
    display: block;
  }
}

.footer {
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_footer {
  color: var(--logo-color);
  text-shadow: 2px 2px 0 var(--title-decor);
  font-family: var(--main-font-family), monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media (width >= 768px) {
  .title_footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 2px 2px 0 var(--title-decor);
    justify-self: center;
  }
}

@media (width >= 1024px) {
  .title_footer {
    text-shadow: 2px 2px 0 var(--accent-color);
  }
}

.link {
  text-shadow: 2px 2px 0 var(--title-decor);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--hover-border);
}

.link:focus {
  outline: none;
  border: none;
}

.link:focus-visible {
  outline: 1px solid var(--link-border);
}

button {
  cursor: pointer;
}
