/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  padding: 10px;
  height: 100vh;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas: 
  ". menu"
  "title title"
  "description description";
}

@media (width >= 768px) {
  .header {
    min-height: 100vh;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr min-content 1fr;
    grid-template-areas: 
    ". menu"
    "title title"
    ". description";
    margin-bottom: 40px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 100vh;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr min-content 1fr;
    grid-template-areas: 
    "menu menu"
    "title title"
    ". description";
    margin-bottom: 40px;
  }
}

.section {
  padding: 10px;
}

@media (width >= 768px) {
  .section {
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .section_first {
    display: grid;
    grid-template-columns: fit-content(314.96px) minmax(min-content, max-content);
    grid-template-rows: 1fr;
  }

  .section_second {
    display: grid;
    grid-template-rows: fit-content(314.96px) minmax(min-content, max-content);
  }

  .section_third {
    display: grid;
    grid-template-columns: fit-content(315px) minmax(min-content, max-content);
    gap: 20px;
  }

  .section_first,
  .section_second,
  .section_third {
    margin-bottom: 60px;
  }
}

@media (width >= 768px) {
  .section_first {
    display: grid;
    grid-template-columns: fit-content(236px) minmax(min-content, max-content);
    grid-template-rows: 1fr;
  }

  .section_second {
    display: grid;
    grid-template-rows: fit-content(236px) minmax(min-content, max-content);
    grid-template-columns: 236px 1fr 1fr;
    grid-template-areas: 
    "second-title . ."
    "second_article second_article second_article";
  }

  .section_title_second {
    grid-area: second-title;
  }

  .article_second {
    grid-area: second_article;
  }

  .section_third {
    display: grid;
    grid-template-columns: fit-content(236px) minmax(min-content, max-content);
    gap: 20px;
  }

  .section_first,
  .section_second,
  .section_third {
    margin-bottom: 60px;
  }
}

.decorated_rec_icon {
  position: absolute;
  display: inline-flex;
  top: 10px;
  right: 19px;
  gap: 10px;
  align-items: center;
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 18px;
  font-family: var(--main-font-family);
}

.decorated_rec_icon::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decorated-zone-color);
  filter: drop-shadow(0px 0px 4px var(--decorated-zone-color));
}

.decorated-zone::before {
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  content: '';
  display: block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
}

@media (width >= 786px) {
  .decorated_rec_icon {
    top: 20px;
    right: 29px;
  }
  
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

.header__theme-menu {
  grid-area: menu;
  display: flex;
  align-self: center;
  justify-self: flex-end;
  margin-block-start: 45.5px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 13px;
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
    margin-block-start: 0px;
  }

.header__theme-menu-list {
   flex-direction: row;
  }
}

.header__theme-menu-button {
  color: var(--button-color);
  font-family: var(--main-font-family);
  text-transform: lowercase;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  border: none;
  background-color: transparent;
}

.header__theme-menu-item:hover {
  border: 1px solid var(--hover-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--focus-border-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--active-color);
  pointer-events: none;
}

.title {
  grid-area: title;
  color: var(--logo-color);
  text-shadow: 4px 4px 0 var(--title-decor);
  font-family: var(--main-font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  justify-self: flex-start;
  line-height: 82.5%;
}

.title-decor {
  background-color: var(--title-decor);
}

@media (width >= 768px) {
  .title {
    margin-left: -10px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 4px 4px 0 var(--accent-color);
  }
}

.description {
  grid-area: description;
  align-self: center;
  color: var( --description-color);
  font-family: var(--main-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.section_first,
.section_second,
.section_third,
.gallery {
  display: grid;
  margin-block-end: 30px;
}

section:first-child {
  margin-block-start: 30px;
}

.article_third,
.article_second,
.article_first {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width >= 1024px) {
  .section_first {
    display: grid;
    grid-template-columns: fit-content(314.96px) minmax(min-content, max-content);
    grid-template-rows: 1fr;
  }

  .section_second {
    display: grid;
    grid-template-rows: fit-content(314.96px) minmax(min-content, max-content);
  }

  .section_third {
    display: grid;
    grid-template-columns: fit-content(315px) minmax(min-content, max-content);
    gap: 20px;
  }

  .section_first,
  .section_second,
  .section_third {
    margin-bottom: 60px;
  }
}

@media (width >= 1024px) {
  .section_second {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: fit-content(315px) minmax(min-content, max-content);
  }

  .article_second {
    grid-column: span 3;
    display: flex;
    flex-direction: row;
  }

  .section_title_second {
    grid-column: 1 / 2;
  }
}

.article_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article_text {
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.article_subtitle {
  color: var(--subtitle-color);
  font-family: var(--main-font-family);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.article_title {
  color: var(--article-title-color);
  font-family: var(--main-font-family);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.section_title {
  margin-bottom: 20px;
  color: var(--section-title-color);
  font-family: var(--main-font-family);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.section_title_fourth {
  color: var(--article-title-color);
}

.gallery {
  display: grid;
  gap: 10px;
  grid-template-rows: auto;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

@media (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 20px;
  }

  .section_title_fourth {
    grid-column: span 3;
    align-self: start;
  }

  img:first-of-type {
    grid-column: span 2;
  }
  
  img:nth-of-type(2) {
    grid-row: span 2;
  }
  
  img:nth-of-type(3) {
    grid-row: span 2;
  }
  
  img:nth-of-type(5) {
    grid-column: span 2;
  }
}

.footer {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_footer {
  color: var(--logo-color);
  text-shadow: 2px 2px 0 var(--title-decor);
  font-family: var(--main-font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media (min-width: 1024px) {
  .title_footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 3px 3px 0 var(--accent-color);
  }
}

@media (max-width: 768px) {
  .title_footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 3px 3px 0 var(--title-decor);
  }
}

.link {
  text-shadow: 2px 2px 0 var(--title-decor);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--hover-border);
}

.link:focus {
  outline: none;
  border: none;
}

.link:focus-visible {
  outline: 1px solid var(--hover-border);
}


