/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font-family: "IBM Plex Mono", sans-serif;
  --section-padding: 20px;
  --main-text-color: #353430;
  --logo-color: #ffc2e6;
  --accent-color: #ff0070;
  --title-decor: #ff8dcb;
  --button-color: #353430;
  --description-color: #353430;
  --section-title-color: #353430;
  --subtitle-color: #353430;
  --article-title-color: #353430;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --hover-border: rgba(50, 49, 45, 0.4);
  --hover-color: #353430;
  --active_border: 1px solid #353430;
  --active-color: #353430;
  --focus-border-color: #353430;
  --focus-text-color: #353430;
  --decorated-zone-color: #353430;
}
